<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>日内跳空高开交易策略</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<script src="../static/js/vue@v2.6.js"></script>
	</head>
	
	<style>
		.one-result {font-size: 19px !important;display: inline-block;margin-right: 70px;}
		#app .box {margin-bottom: 28px;}
		.middle-line {border-bottom: 1px #DDD;border-bottom-style: dashed;transform: scaleY(0.3);width: 90%;margin: 23px 0;}
		
		.excel-request-list {}
		.excel-request-list li span {display: inline-block;}
		.excel-request-list li input {width: 65px;background-color: transparent;border: 1px white solid;color: white;border-left: none;border: none;border-bottom: 1px white solid;text-align: center;}
		.excel-request-list li .result {margin-top: 12px;padding: 4px 10px;border-radius: 50px;display: table;background-color: white;color: #FF4500;}
		.excel-request-list li .result span {margin-right: 33px;color: #222; }
		
		.yesterday-playing {color: #6495ED !important;display: inline-flex !important;align-items: center;justify-content: flex-start;cursor: pointer;user-select: none;}
		.yesterday-playing img {transform: scaleX(.8);}
		.yesterday-playing:active {opacity: 0.8;}
		
		.data-tip {color: rgba(221,221,221,0.65);font-size: 18px;font-style: italic;}
		.symbol {position: absolute;height: 60px;width: 60px;background-color: rgb(255, 69, 0, 0.4);top: 0;border-radius: 50%;left: 50%;transform: translateX(-60%);}
	</style>
	
	<body>
		<div id="mask-loading" style="position: fixed;top: 0;bottom: 0;left: 0;right: 0;background-color: white;overflow: hidden;z-index: 1000;"></div>
		
		<div id="app">
			<!-- 查询 -->
			<div class="diff">
				<h2 style="color: white;">查询：<span style="font-size: inherit !important;color: #FF4500;">{{ stock.name }} {{ stock.code }}</span></h2>
				
				<div class="box">
					<span>股票代码：</span>
					<input type="text" v-model="form.code" placeholder="请输入股票代码" maxlength="6" @keyup="onKeyUps" @input="onFormChange" />
					
					<span>&emsp;日&emsp;期：</span>
					<input type="date" v-model="form.date" placeholder="请输入查询日期" @change="onFormChange"/>
					
					<button type="button" @click="startFetch" style="margin-left: 18px;">查询</button>
				</div>
				
				<div class="box">
					<span>昨&emsp;&emsp;收：</span>
					<input type="number" v-model="resForm.yesterdayClose" />
					
					<span>&emsp;开盘价：</span>
					<input type="number" v-model="resForm.openPrice" />
					
					<span>&emsp;最新价：</span>
					<input type="number" v-model="resForm.closePrice" />
					
					<span title="基础涨幅差额率">&emsp;策略位率：</span>
					<input type="number" v-model="strategyPositionRate"  style="width: 65px;"/> %
				</div>
				
				<div class="middle-line"></div>
				
				<div class="box">
					<span class="one-result">跳空涨幅：{{ diffRateCompute(resForm.openPrice, resForm.yesterdayClose) }}%</span>
					
					<span class="one-result"  :style="{ textDecoration: 'underline', color: diffRateCompute(resForm.closePrice, resForm.yesterdayClose) > 0 ? 'rgb(255, 69, 0)' : '#00FF60'  }">最新涨幅：{{ diffRateCompute(resForm.closePrice, resForm.yesterdayClose) }}%</span>
					
					<span class="red-color one-result">相对策略位价：{{ strategyPositionPrice() }}</span>
				</div>
			</div>
			
			<div class="diff">
				<h2>Excel 输入遍历：</h2>
				
				<div class="box">
					<form style="display: inline-block;padding: 7px;border: 1px #888 solid;width: 800px;">
						<label>
							请选择需要导入的 Excel 个股数据：
							<input type="file" id="excel_file" ref="excel_file" accept=".xls,.xlsx" @change="handleFiles(event.target)" style="width: 350px;"/>
						</label>
						<span class="clear-text-button" @click="refresh" style="float: right;margin-left: 32px;color: white;text-decoration: underline;">刷新</span>
						<span class="clear-text-button" @click="resetFile" style="float: right;color: white;text-decoration: underline;">删除</span>
					</form>
				</div>
				
				<div class="box" style="position: relative;">
					<span style="position: absolute;top: -22px;font-size: 13px;color: #DDDDDD;opacity: 0.65;">总数：{{ renderList.length }}；非主板个股：{{ noMainBoard }}</span>
					<ol class="excel-request-list">
						<li v-for="(item,index) in renderList" :key="index">
							<span style="width: 210px;" class="orange-color">名称：{{ item.name }}（{{ item.code }}）</span>
							
							<span style="width: 120px;">昨收：{{ item.yesterdayClose }}</span>
							
							<span style="width: 120px;">开盘：{{ item.openPrice }}</span>
							
							<span style="width: 120px;position: relative;">最新：
								<span class="orange-color">{{ item.closePrice }}</span>
								<div class="symbol" v-if="item.closePrice <= excelStrategyPositionPrices(item)"></div>
							</span>
							
							<span>策略位率：<input class="excel-strategy-input" :value="item.strategyRate" type="number" @input="eStrategyInputChange($event, index)" style="width: 65px;"/> %</span>
							
							<div class="result">
								<span>日期：{{ moment(item.date).format('MM/DD') }}</span>
								
								<span>跳空涨幅：{{ diffRateCompute(item.openPrice, item.yesterdayClose) }}%</span>
								
								<span style="text-decoration: underline;">最新涨幅：<span :style="{marginRight: '0', color: diffRateCompute(item.closePrice, item.yesterdayClose) > 0 ? 'rgb(255, 69, 0)' : '#00FF60'}">{{ diffRateCompute(item.closePrice, item.yesterdayClose) }}%</span></span>
								
								<span>相对策略位价：<span style="color: #FF4500;margin-right: 0;">{{ excelStrategyPositionPrices(item) }}</span></span>
								
								<span @click="openPlayingWin(item)" class="yesterday-playing">查看昨日博弈<img src="../static/icon/right.png"></span>
							</div>
							<div class="middle-line" style="margin: 18px 0;"></div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="../static/js/xlsx.full.min.js"></script>
	<script type="text/javascript" src="../static/js/axios.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../static/js/moment.js" charset="utf-8"></script>
	<script type="text/javascript" src="../stockCommon.minxin.js" charset="utf-8"></script>
	<script type="text/javascript" src="./dayHighGapBuyStrategy.js" charset="utf-8"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			mixins:[
				$commonMinxin,
				$dayHighGapBuyStrategy
			],
			data() {
				return {
					strategyPositionRate: 33,
					
					form: { // 请求结果数据
						code:'', // 股票代码
						date: '', // 日期
					}, 
					
					resForm: {
						openPrice: 0,
						maxPrice: 0,
						minPrice: 0,
						closePrice: 0,
						
						yesterdayDate: '', // 昨日日期
						yesterdayClose: '' // 昨日收盘
					},
				}
			},
			mounted:function() {
				this.form.date = window.moment().format('YYYY-MM-DD');
			},
			methods:{
				// 相对策略位
				strategyPositionPrice:function() {
					if(this.resForm.yesterdayClose && this.resForm.openPrice) {
						console.log('----------------------------')
						var opRate = this.diffRateCompute(this.resForm.openPrice, this.resForm.yesterdayClose);
						var strategyRate = opRate - (opRate * this.strategyPositionRate / 100);
						console.log('opRate => ' + opRate + '%');
						console.log('strategyRate => ' + strategyRate + '%');
						
						// 回归位价
						var flybackPrice = this.resForm.openPrice - (this.resForm.openPrice * opRate / 100);
						// 策略位价
						var strategyPrice = flybackPrice - (flybackPrice * strategyRate / 100);
						console.log('回归位价 => ' + flybackPrice);
						console.log('策略位价 => ' + strategyPrice);
						return strategyPrice.toFixed(2);
					}
				},
				/**
				 * 查询个股基本信息
				 */
				startFetch:function() {
					var _this = this;
					var form = this.form;
					
					var params = {
						code: form.code,
						time: 'day',
						beginDay: moment(form.date).subtract(3, 'days').format('YYYYMMDD'),
					}
					this.fetchStockRealKlineData(params,function(data) {
						// console.log(data.dataList.reverse())
						// return;
						
						Object.assign(_this.stock, {
							code: data.code,
							name: data.name,
						});
						var dataList = data.dataList.reverse();
						for(var i = 0;i < dataList.length;i++) {
							var item = dataList[i];
							if(item['time'] == moment(form.date).format('YYYYMMDD')) {
								Object.assign(_this.resForm, {
									openPrice: item.open,
									maxPrice: item.max,
									minPrice: item.min,
									closePrice: item.close,
									
									yesterdayClose: dataList[i - 1].close,
									yesterdayDate: dataList[i - 1].date,
								});
								break;
							}
						}
					}).catch(function(message) {
						alert(message);
					})
				},
				// 涨幅计算
				diffRateCompute:function(close, open) {
					var result = (close - open) / open * 100;
					return (result || 0).toFixed(2);
				},
				// 主表单数据变更
				onFormChange:function() {
					var _this = this;
					Object.keys(this.resForm).forEach(function(key) { _this.resForm[key] = 0 });
					this.reset();
				},
				// 按键监听
				onKeyUps:function(event) {
					if(event.keyCode == 13) {
						this.startFetch()
					}
				},
			}
		})
	</script>
</html>
