<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>日内跳空高开交易策略</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="./dayHighGapBuyStrategy.css"/>
		<script src="../static/js/vue@v2.6.js"></script>
	</head>
	
	<body>
		<div id="mask-loading" style="position: fixed;top: 0;bottom: 0;left: 0;right: 0;background-color: white;overflow: hidden;z-index: 1000;"></div>
		
		<div id="app">
			<!-- 查询 -->
			<div class="diff">
				<h2 style="color: white;">查询：<span style="font-size: inherit !important;color: #FF4500;">{{ stock.name }} {{ stock.code }}</span></h2>
				
				<div class="box">
					<span>股票代码：</span>
					<input type="text" v-model="form.code" placeholder="请输入股票代码" maxlength="6" @keyup="onKeyUps" @input="onFormChange" />
					
					<span>&emsp;日&emsp;期：</span>
					<input type="date" v-model="form.date" placeholder="请输入查询日期" @change="onFormChange"/>
					
					<span>&emsp;选择策略：</span>
					<select v-model="strategyType" style="width: 148px;" @change="strategyTypeChange">
						<option value="strategyOne">策略一（日内普通）</option>
						<option value="strategyTwo">策略二（日内涨停）</option>
					</select>
					
					<span title="基础涨幅差额率">&emsp;策略位率：</span>
					<input type="number" v-model="strategyPositionRate"  style="width: 65px;"/> %
					
					<div style="display: inline-block;" v-if="strategyType == 'strategyTwo'">
						<span>&emsp;涨停：</span>
						<input type="number" v-model="mostRateCount" style="width: 65px;" placeholder="个数" /> 板
					</div>
				</div>
				
				<div class="box">
					<span>昨&emsp;&emsp;收：</span>
					<input type="number" v-model="resForm.yesterdayClose" />
					
					<span>&emsp;开盘价：</span>
					<input type="number" v-model="resForm.openPrice" />
					
					<span>&emsp;最&nbsp;高&nbsp;价：</span>
					<input type="number" v-model="resForm.maxPrice" />
					
					<span>&emsp;最&nbsp;新&nbsp;价：</span>
					<input type="number" v-model="resForm.closePrice" />
					
					<button type="button" @click="startFetch" style="margin-left: 18px;">查询</button>
				</div>
				
				<div class="middle-line"></div>
				
				<div class="box">
					<span class="one-result">
						coreHighRate：
						<span v-if="strategyType == 'strategyOne'">{{ diffRateCompute(resForm.openPrice, resForm.yesterdayClose) }}%</span>
						<span v-if="strategyType == 'strategyTwo'">{{ diffRateCompute((Number(resForm.openPrice) + Number(resForm.maxPrice)) / 2, resForm.yesterdayClose) }}%</span>
					</span>
					
					<span class="one-result"  :style="{ textDecoration: 'underline', color: diffRateCompute(resForm.closePrice, resForm.yesterdayClose) > 0 ? 'rgb(255, 69, 0)' : '#00FF60'  }">最新涨幅：{{ diffRateCompute(resForm.closePrice, resForm.yesterdayClose) }}%</span>
					
					<span class="red-color one-result">
						{{ strategyType == 'strategyOne' ? '相对' : '绝对'}}策略位价：{{ strategyPositionCompute() }}
						<sub v-if="strategyType == 'strategyTwo'" style="color: white;">{{ floatStrategyPositionPrices(resForm, strategyPositionRate, mostRateCount) }}</sub>
					</span>
					
					<span class="one-result yesterday-playing" @click="openPlayingWin({date:form.date, code:form.code})">查看昨日博弈<img src="../static/icon/right.png"></span>
				</div>
			</div>
			
			<!-- 文件导入遍历 -->
			<div class="diff">
				<h2>文件导入遍历：</h2>
				<div class="box">
					<div>
						<span>查询范围：</span>
						<input type="number" v-model="selectDaySize" /> 天
					</div><br />
					
					<form enctype="multipart/form-data" style="display: inline-block;padding: 7px;border: 1px #888 solid;width: 85%;min-width: 760px;">
						<label>
							导入查询的数据：
							<input type="file" id="selectImport" accept=".txt" @change="handleFiles(event.target)" style="width: 220px;"/>
						</label>
						
						<label>
							导入保存的数据
							<input type="file" id="saveImport" accept=".txt" @change="importCoreData(event.target)" style="width: 220px;"/>
						</label>
						
						<span class="clear-text-button" @click="refresh()" style="float: right;margin-left: 32px;color: white;text-decoration: underline;">刷新</span>
						<span class="clear-text-button" @click="resetList()" style="float: right;color: white;text-decoration: underline;">删除</span>
					</form>
				</div>
				
				<div class="box" style="position: relative;margin-bottom: 0;">
					<div class="list-describe">
						<span>总数：{{ excelTables.length }}</span>
						<span>&emsp;非主板个股：{{ results.noMainBoard }}</span>
						<span class="fetchFail" @click="coreConsoleAction('triggerStrategyInvalid')" style="color: rgb(255,167,0);">&emsp;已触发策略失效：{{ results.triggerStrategyInvalid.length }}</span>
						<span class="fetchFail" @click="coreConsoleAction('noSearchInfo')">&emsp;未查询到涨板信息：{{ results.noSearchInfo.length }}</span>
						<span class="fetchFail" @click="coreConsoleAction('requestFails')">&emsp;请求失败：{{ results.requestFails.length }}</span>
					</div>
						
					<div class="files-request-list">
						<ol>
							<li v-for="(item,index) in results.renderList" :key="index">
								<div class="c-header">
									<span>
										{{ index + 1}}
										名称：<font class="orange-color">{{ item.name }}（{{ item.code }}）</font>
										<font class="plate-text">{{ item.plate }}</font>
									</span>
									
									<span class="date">日期：{{ moment(item.date).format('MM/DD') }}</span>
									<div class="middle-line"></div>
								</div>
								
								<div class="c-body">
									<div class="option">
										<span>策略位率：<input class="list-input" :value="item.strategyRate"  type="text" @input="listStrategyRateChange($event, index)" />%</span>
										<span>涨停：<input class="list-input" :value="item.risePlateCount"  type="text" @input="listRisePlateCountChange($event, index)" />板</span>
										<span>coreHighRate：{{ diffRateCompute((Number(item.openPrice) + Number(item.maxPrice)) / 2, item.yesterdayClose) }}%</span>
									</div>
									
									<div class="option">
										<span>昨收：{{ item.yesterdayClose }}</span>
										<span>开盘价：{{ item.openPrice }}</span>
										<span>最高价：{{ item.maxPrice }}</span>
									</div>
									
									<div class="option">
										<span>最新：<font class="orange-color">{{ item._todayClose }}</font></span>
										<span>最新涨幅：<font :style="{color: diffRateCompute(item._todayClose, item._todayInYesterdayClose) > 0 ? 'rgb(255, 69, 0)' : '#00FF60'}">{{ diffRateCompute(item._todayClose, item._todayInYesterdayClose) }}%</font></span>
										
										<span>剩余差幅：<font :style="{color: afterDiffRate(item) > 0 ? 'rgb(255, 69, 0)' : '#00FF60'}">{{ afterDiffRate(item) }}%</font></span>
										<div class="middle-line"></div>
									</div>
								</div>
								
								<div class="c-footer">
									<span class="red-color">绝对策略位价：{{ excelStrategyPositionPrices(item) }} <sub>Float：{{ floatStrategyPositionPrices(item) }}</sub></span>
									<span class="yesterday-playing" @click="openPlayingWin({ date:item.date, code:item.code })">查看昨日博弈<img src="../static/icon/right.png"></span>
									<div v-if="afterDiffRate(item) > 0" class="symbol">√</div>
								</div>
							</li>
						</ol>
					</div>
				</div>
				
				<div class="loading-wrapper" v-if="results.renderList.length > 0">
					<img v-if="!results.loadingComplete" src="../static/icon/loading.png" class="loading-icon">
					<span class="loading-text">{{ !results.loadingComplete ? '加载中...' : '加载完成'}}</span>
				</div>
			</div>
			
			<!-- 统计面板 -->
			<div class="tools-in-count">
				<div class="count-planel-console" id="console-count">
					<div class="console-close"><img src="../static/icon/icon-close.png" @click="toogleConsole" width="100%" height="100%" /></div>
					
					<div class="number-rule-count" id="numberRuleCount">
						<p class="orange-color">
							<span v-if="renderConsoleSymbol == 'renderList'">Choice Core Data Count：</span>
							<span v-if="renderConsoleSymbol == 'triggerStrategyInvalid'">已触发策略失效：</span>
							<span v-if="renderConsoleSymbol == 'noSearchInfo'">未查询到涨板信息：</span>
							<span v-if="renderConsoleSymbol == 'requestFails'">请求失败：</span>
						</p><br />
						
						<div v-if="renderConsoleSymbol == 'renderList'">
							<span class="orange-color">剩余差幅区间：Rate >= -</span> <input type="text" v-model="choiceDiffRate" style="width: 100px;"> %
						</div>
						
						
						<div class="data-list">
							<ol>
								<li style="width: 240px;" v-for="(item,index) in renderConsoleList">
									<span>{{ index + 1}} 名称：{{ item.name }}（{{ item.code }}）</span>
								</li>
							</ol>
							
							<ol v-if="renderConsoleSymbol == 'renderList'">
								<li v-for="(item,index) in renderConsoleList">
									<div style="width: 170px;">剩余差幅：<font :style="{color: afterDiffRate(item) > 0 ? 'rgb(255, 69, 0)' : '#00FF60'}">{{ afterDiffRate(item) }}%</font></div>
									<div style="width: 130px;">最新：<font class="orange-color">{{ item._todayClose }}</font></div>
									<div style="width: 275px;">绝对策略位价：<font class="red-color">{{ excelStrategyPositionPrices(item) }}</font> <sub class="orange-color">Float：{{ floatStrategyPositionPrices(item) }}</sub></div>
									<div style="width: 170px;">最新涨幅：<font :style="{color: diffRateCompute(item._todayClose, item._todayInYesterdayClose) > 0 ? 'rgb(255, 69, 0)' : '#00FF60'}">{{ diffRateCompute(item._todayClose, item._todayInYesterdayClose) }}%</font></div>
									<div>日期{{ moment(item.date).format('MM/DD') }}</div>
									<div><span class="yesterday-playing" @click="openPlayingWin({ date:item.date, code:item.code })">查看昨日博弈<img src="../static/icon/right.png"></span></div>
								</li>
							</ol>
						</div>
					</div>
				</div>
				
				<!-- 工具 -->
				<div class="tools" id="tools">
					<ul>
						<li title="统计数据（A）" @click="coreConsoleAction('renderList')"><img src="../static/icon/count.png"></li>
						<li title="保存数据" @click="exportCoreData" style="transform: rotate(180deg);"><img src="../static/icon/save.png"></li>
						<li title="页面顶部（T）" @click="backTop"><img src="../static/icon/top.png"></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="../static/js/xlsx.full.min.js"></script>
	<script type="text/javascript" src="../static/js/axios.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../static/js/moment.js" charset="utf-8"></script>
	<script type="text/javascript" src="../static/js/FileSaver.min.js" charset="utf-8"></script>
	
	<script type="text/javascript" src="../stockCommon.minxin.js" charset="utf-8"></script>
	<script type="text/javascript" src="./dayHighGapBuyStrategy.js" charset="utf-8"></script>
	<script type="text/javascript" src="./dayHighGapBuyStrategyTools.js" charset="utf-8"></script>
	<script type="text/javascript" src="./writeRules.js" charset="utf-8"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			mixins:[
				$commonMinxin,
				$dayHighGapBuyStrategy,
				$tools,
				$writeRules,
			],
			data() {
				return {
					strategyType: 'strategyTwo', // strategyOne, strategyTwo
					strategyPositionRate: 33,
					mostRateCount: 1, // 涨停个数
					
					form: { // 请求结果数据
						code:'', // 股票代码
						date: '', // 日期
					}, 
					
					resForm: {
						openPrice: 0,
						maxPrice: 0,
						minPrice: 0,
						closePrice: 0,
						
						yesterdayDate: '', // 昨日日期
						yesterdayClose: 0, // 昨日收盘
					},
				}
			},
			mounted:function() {
				this.form.date = window.moment().format('YYYY-MM-DD');
			},
			methods:{
				// 策略位计算
				strategyPositionCompute:function() {
					if(this.strategyType == 'strategyOne') {
						return this.strategyPositionPriceOne();
					}else if(this.strategyType == 'strategyTwo') {
						return this.strategyPositionPriceTwo();
					}
				},
				/**
				 * 绝对策略位
				 * @param { Object } paramForm Require compute params
				 * @param {Object} strategyPositionRate 策略率
				 * @param {Object} mostRateCount 涨板数
				 */
				strategyPositionPriceTwo:function(paramForm, strategyPositionRate, mostRateCount) {
					var resForm = paramForm || this.resForm;
					var strategyPositionRate = strategyPositionRate || this.strategyPositionRate;
					var mostRateCount = mostRateCount || this.mostRateCount;
					
					var consoleLog = function(text) {
						if(typeof paramForm == 'undefined') {
							console.log(text);
						}
					}
					
					if(resForm.yesterdayClose && resForm.openPrice && resForm.maxPrice) {
						consoleLog('---------- Strategy Two ----------');
						var openMaxPriceAverage = (Number(resForm.openPrice) + Number(resForm.maxPrice)) / 2;
						var gapHighRate = this.diffRateCompute(openMaxPriceAverage, resForm.yesterdayClose);
						consoleLog('gapHighRate => ' + gapHighRate + '%');
						
						// 回归位价 = 昨日收盘价（涨停价）
						var flybackPrice = resForm.yesterdayClose;
						consoleLog('回归位价 => ' + flybackPrice);
						
						var fpSubtractionHigh = gapHighRate > 0 ? flybackPrice - (flybackPrice * gapHighRate / 100) : flybackPrice;
						consoleLog('fpSubtractionHigh => ' + fpSubtractionHigh);
						
						// 策略位率：以昨日涨停10%为基础幅度，指定下跌关键的百分比率：strategyPositionRate，从而得到计算策略位价的百分比率
						var strategyRate = 10 - (10 * strategyPositionRate / 100);
						consoleLog('strategyRate => ' + strategyRate + '%');
						// 策略位价 -> 根据涨停板个数逐次回踩跌幅：strategyPositionRate
						var strategyPrice = fpSubtractionHigh;
						for(var i = 0;i < mostRateCount;i++) {
							strategyPrice = strategyPrice - (strategyPrice * strategyRate / 100);
						}
						consoleLog('策略位价 => ' + strategyPrice);
						return strategyPrice.toFixed(2);
					}
					
				},
				/**
				 * 相对策略位
				 * 1. 以当日跳空（非）收盘价为相对参考值
				 */
				strategyPositionPriceOne:function() {
					if(this.resForm.yesterdayClose && this.resForm.openPrice) {
						console.log('---------- Strategy One ----------');
						var gapHighRate = this.diffRateCompute(this.resForm.openPrice, this.resForm.yesterdayClose);
						console.log('gapHighRate => ' + gapHighRate + '%');
						
						// 回归位价，从开盘价回踩到缺口百分比率
						var flybackPrice = this.resForm.openPrice - (this.resForm.openPrice * gapHighRate / 100);
						// 如果 gapHighRate <=0，回归位价等于收盘价
						gapHighRate <= 0 ? flybackPrice = this.resForm.openPrice : '';
						console.log('回归位价 => ' + flybackPrice);
						
						
						// 策略位率：在缺口的基础百分比率的基础上再次下跌指定关键的百分比率，从而得到计算策略位价的百分比率（附加/重合跌幅值）
						var strategyRate = Math.abs(gapHighRate) - (Math.abs(gapHighRate) * this.strategyPositionRate / 100);
						// 如果 gapHighRate <=0，策略位率等于6.7%
						gapHighRate <= 0 ? strategyRate = 6.7 : '';
						console.log('strategyRate => ' + strategyRate + '%');
						var strategyPrice = flybackPrice - (flybackPrice * strategyRate / 100);
						console.log('策略位价 => ' + strategyPrice);
						return strategyPrice.toFixed(2);
					}
				},
				/**
				 * 查询个股基本信息
				 */
				startFetch:function() {
					var _this = this;
					var form = this.form;
					
					var params = {
						code: form.code,
						time: 'day',
						beginDay: moment(form.date).subtract(3, 'days').format('YYYYMMDD'),
					}
					this.fetchStockRealKlineData(params,function(data) {
						// console.log(data.dataList.reverse())
						// return;
						
						Object.assign(_this.stock, {
							code: data.code,
							name: data.name,
						});
						var dataList = data.dataList.reverse();
						for(var i = 0;i < dataList.length;i++) {
							var item = dataList[i];
							if(item['time'] == moment(form.date).format('YYYYMMDD')) {
								Object.assign(_this.resForm, {
									openPrice: item.open,
									maxPrice: item.max,
									minPrice: item.min,
									closePrice: item.close,
									
									yesterdayClose: dataList[i - 1].close,
									yesterdayDate: dataList[i - 1].date,
								});
								break;
							}
						}
					}).catch(function(message) {
						alert(message);
					})
				},
				// 涨幅计算
				diffRateCompute:function(close, open) {
					var result = (close - open) / open * 100;
					return (result || 0).toFixed(2);
				},
				// 主表单数据变更
				onFormChange:function() {
					var _this = this;
					Object.keys(this.resForm).forEach(function(key) { _this.resForm[key] = 0 });
					this.reset();
				},
				// 按键监听
				onKeyUps:function(event) {
					if(event.keyCode == 13) {
						this.startFetch()
					}
				},
				strategyTypeChange:function() {
					
				},
			}
		})
	</script>
</html>
