<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>日内出货交易策略</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css"/>
		<script src="../../static/js/vue@v2.6.js"></script>
	</head>
	
	<style>
		#app { margin-left: 28px; }
		.blocks {list-style: none;padding: 0;margin: 0;display: inline-block;margin-right: 110px;position: relative;}
		.blocks:not(:last-child)::after {content: '';border-right: 1px #888 solid;position: absolute;top: 164px;bottom: 89px;right: -55px;}
		
		.blocks li{display: flex;margin-bottom: 18px;}
		.stratery-type {text-align: left;display: inline-block;padding: 0px 12px;border-radius: 100px;background: white;margin-right: 30px;height: 27px;line-height: 27px;margin-bottom: 38px;border: 1px #FFF solid;background: transparent;}
		
		.after-list div {padding: 8px 0;border-bottom: 1px #888 solid;}
		.after-list div:first-child {padding-top: 0;}
		.sbu-text {padding: 0;display: inline-block;transform: scale(0.8);}
		
		.describe {transform: scale(0.85);transform-origin: left top;line-height: 25px;color: rgba(255,167,0);}
		
		.data-view {padding: 0;margin: 0;margin-top: 5px;transform: scale(0.8);transform-origin: left bottom;}
		.data-view-block {display: block;margin-bottom: 3px;}
		
		.sell-strategy-ol {display: flex;}
		.sell-strategy-ol li {margin-right: 45px;}
	</style>
	
	<body>
		<div id="mask-loading" style="position: fixed;top: 0;bottom: 0;left: 0;right: 0;background-color: white;overflow: hidden;z-index: 1000;"></div>
		
		<div id="app">
			<!-- 查询 -->
			<div class="diff">
				<h2 style="color: white;width: 288px;">参数值设定：</h2>
				
				<div class="box">
					<span>成本价：</span>
					<input type="number" v-model="uad.openingPrice" placeholder="请输入价格" />
					
					<span>&emsp;总股数：</span>
					<input type="number" v-model="uad.vol" placeholder="请输入价格" />
					
					<span>&emsp;预期涨幅：</span>
					<input type="number" v-model="uad.rate" placeholder="请输入价格" style="width: 80px;" /> %
					
					<span>&emsp;市场价：{{ uad.closingPrice }}</span>
				</div>
			</div>
			
			<!-- 包含手续费 -->
			<div class="diff">
				<h2 style="color: white;">包含手续费：</h2>
				<span>佣金：0.02%</span>
				
				<span>&emsp;印花税：0.1%</span>
				
				<span>&emsp;过 户 费：/</span>
				
				<ol class="describe">
					<li>佣金：双边收取，按照成交金额进行结算，不足5元按照 “5元” 收取</li>
					<li>印花税：单边收取，固定为卖出成交金额的 “千分之一”</li>
					<li>过户费：双边收取，按照成交金额的 “千分之0.1” 收取，（2022年4月29日起，将股票交易过户费总体下调50%，即原来是万分之二），仅上海市场收取</li>
				</ol>
				
				<!-- 卖出策略 -->
				<span class="red-color">Sell Strategy：</span><br/>
				<sub>视综合情况执行卖出交易的时间节点</sub>
				<ol class="describe sell-strategy-ol">
					<li>板块指数与行情（相对性联系到上下游板块的关系）；</li>
					<li>大盘情绪；</li>
					<li>个股内日涨跌幅数值研测（相对K线统计分析）；</li>
					<li>消息面；</li>
					<li>技术面；</li>
				</ol>
				
				<!-- 止损策越 -->
				<span class="red-color">Stop Loss Sell：</span><br/>
				<sub>日内触及止损位卖出策略</sub>
				<ol class="describe sell-strategy-ol">
					<li>执行亏损比：3.33%；</li>
				</ol>
			</div>
			
			<div class="data-diff average-box">
				<h2 style="width: 448px;">Stratery Compute</h2>
				<div class="stratery-type">
					<span>单次全仓：</span>
					<span>{{ uad.openingPrice }} * {{ uad.vol }} * {{ uad.rate }}%</span>
					<span>=</span>
					<span>{{ formatMoney(onceSellAllCompute()) }}</span>
				</div>
				
				<span>分仓选择：</span>
				<select v-model="levelSpace">
					<option v-for="(value,index) in [90, 80, 70, 50, 30]" :value="value" :key="value">{{ value }}% 先仓</option>
				</select>
				
				<div id="stratery-container">
					<ul class="blocks">
						<li class="red-color" style="font-size: 22px;">{{ levelSpace }}% 先仓出货：</li>
						<!-- 先仓 -->
						<li>
							<div class="orange-color">先仓：</div>
							<div>
								<span>{{ uad.openingPrice }} * {{ getLevelSpaceRate() }} * {{ uad.rate }}%</span>
								<span>=</span>
								<span>{{ formatMoney(firstSpaceCompute()) }}</span>
							</div>
						</li>
						
						<!-- 后仓 -->
						<li>
							<div class="orange-color">后仓：</div>
							<div class="after-list">
								<div v-for="number in floatRates">
									<span>{{ uad.openingPrice }} * {{ uad.vol - getLevelSpaceRate() }} * </span>
									<span title="涨跌幅" :class="number >= 0 ? 'red-color' : 'green-color'">{{ number }}%</span>
									<span>=</span>
									<span>{{ formatMoney(afterSpaceCompute( number)) }}</span>
									
									<ul class="data-view">
										『<span>实际盈利：{{ formatMoney(afterSpaceCompute(number), false) }} + {{ formatMoney(firstSpaceCompute(), false) }} - </span>
										<span class="orange-color" title="手续费（双边计算）：佣金 + 印花税">{{ poundageCompute(number).toFixed(2) }}</span>
										<span>=</span>
										<span :class="factLucre(number) >= 0 ? 'red-color' : 'green-color'">{{ formatMoney(factLucre(number), false) }}</span>』
										
										<span class="data-view-block"></span>
										『<span>单次全仓差：{{ formatMoney(afterSpaceCompute(number) + firstSpaceCompute() - poundageCompute(number), false) }} - </span>
										<span>{{ formatMoney(onceSellAllCompute(), false) }}</span>
										<span>≈</span>
										<span>{{ formatMoney(onceFacelLucreDiff(number), false) }}</span>』
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	
	<script src="../../static/js/accounting.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../static/js/axios.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../../static/js/moment.js" charset="utf-8"></script>
	<script type="text/javascript" src="../../stockCommon.minxin.js" charset="utf-8"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			mixins:[$commonMinxin],
			data() {
				return {
					levelSpace: 70, // 分仓选择
					
					floatRates:[
						-5.33, -4.33, -4.33, -3.33,
						-2.33, -1.33, -1, -0.5, -0.33, 0,
						0.33, 0.5, 1, 1.33,
						2.33, 3.33, 4.33, 5.33,
						6.33, 7.33, 8.33, 9.33, 10,
					],
					
					uad:{
						openingPrice: 10,
						vol: 1000,
						rate: 2.33,
						closingPrice: '/',
					},
				}
			},
			computed:{
				
			},
			methods:{
				// 当次全仓差额
				onceFacelLucreDiff:function(number) {
					return this.afterSpaceCompute(number) + this.firstSpaceCompute() - this.poundageCompute(number) - this.onceSellAllCompute();
				},
				// 实际盈利
				factLucre:function(number) {
					return this.afterSpaceCompute(number) + this.firstSpaceCompute() - this.poundageCompute(number);
				},
				// 单次全仓卖出结果计算
				onceSellAllCompute:function() {
					return this.uad.openingPrice * this.uad.vol * (this.uad.rate / 100);
				},
				// 先仓出货结果计算
				firstSpaceCompute:function() {
					return this.uad.openingPrice * this.getLevelSpaceRate() * (this.uad.rate / 100);
					
				},
				// 后仓出货结果计算
				afterSpaceCompute:function(number) {
					return this.uad.openingPrice * (this.uad.vol - this.getLevelSpaceRate()) * (number / 100);
				},
				// 手续费；
				poundageCompute(number) {
					// 买入佣金
					var buyCommission = this.uad.openingPrice * this.uad.vol * 0.0002;
					buyCommission = buyCommission > 5 ? buyCommission : 5;
					
					// 卖出佣金一（先仓）
					var sellAmountFrist = this.uad.openingPrice * this.getLevelSpaceRate();
					var sellCommissionFrist = (sellAmountFrist + (sellAmountFrist * this.uad.rate / 100)) * 0.0002;
					sellCommissionFrist = sellCommissionFrist > 5 ? sellCommissionFrist : 5;
					
					// 卖出佣金二（后仓）
					var sellAmountAfter = this.uad.openingPrice * (this.uad.vol - this.getLevelSpaceRate());
					var sellCommissionAfter = (sellAmountAfter + (sellAmountAfter * number / 100)) * 0.0002;
					sellCommissionAfter = sellCommissionAfter > 5 ? sellCommissionAfter : 5;
					
					// 印花税一（先仓）
					var sellStampDutyFirst = (sellAmountFrist + (sellAmountFrist * this.uad.rate / 100)) * 0.001;
					// 印花税二（后仓）
					var sellStampDutyAfter = (sellAmountAfter + (sellAmountAfter * number / 100)) * 0.001;
					
					var serveAmountAllObj = {
						buyCommission: buyCommission,
						sellCommissionFrist: sellCommissionFrist,
						sellCommissionAfter: sellCommissionAfter,
						sellStampDutyFirst: sellStampDutyFirst,
						sellStampDutyAfter: sellStampDutyAfter,
					}
					console.log('手续费：' + JSON.stringify(serveAmountAllObj))
					
					var serveAmoountCount = 0;
					for(var key in serveAmountAllObj) {
						serveAmoountCount += serveAmountAllObj[key];
					}
					return serveAmoountCount;
				},
				/**
				 * 获取分仓比例
				 */
				getLevelSpaceRate:function() {
					var levelCount = this.uad.vol * this.levelSpace / 100;
					var levelRem = levelCount % 100;
					
					if(levelRem == 0) {
						return levelCount;
					}else if(levelRem >= 50) {
						return levelCount + 100 - levelRem;
					}else {
						return levelCount - levelRem;
					}
				},
				/**
				 * 格式化金额
				 */
				formatMoney:function(money, unit) {
					return window.accounting.formatMoney(money, { symbol: unit === false ? '' : '¥' })
				},
			}
		})
	</script>
</html>
