.one-result {font-size: 19px !important;display: inline-block;margin-right: 70px;}
.middle-line {border-bottom: 1px #DDD;border-bottom-style: dashed;transform: scaleY(0.3);width: 100%;margin: 23px 0;}

.yesterday-playing {color: #6495ED !important;display: inline-flex !important;align-items: center;justify-content: flex-start;cursor: pointer;user-select: none;}
.yesterday-playing img {transform: scaleX(.8);}
.yesterday-playing:active {opacity: 0.8;}

.list-codes {outline: none;font-size: 25px;line-height: 35px;color: rgb(100, 149, 237);background-color: transparent;height: 42px;width: 88% !important;border: none;border-bottom: 1px #ffffff;border-bottom-style: dashed;}
.list-fetchs-icon {float: left;margin: 11px 16px 11px 0px;cursor: pointer;}
.list-fetchs-icon:active {opacity: 0.75;}

.files-request-list ol {margin: 0;padding: 0;display: flex;flex-wrap: wrap;list-style: none;}
.files-request-list ol li {z-index: 100;border: 1px white solid;width: 471px;display: inline-block;background-color: white;color: #222;line-height: 28px;border-radius: 5px;padding: 3px 12px;margin-right: 29px;margin-bottom: 29px;}
.files-request-list .c-body .option span {width: 171px;display: inline-block;font-size: 15px !important;color: rgba(34,34,34, 0.9)}
.files-request-list .c-body .option span:last-child {width: auto;}

.files-request-list .date {float: right;}
.files-request-list .list-input {width: 43px !important;text-align: center;background-color: transparent;border: 1px white solid;border-left: none;border: none;border-bottom: 1px #222 dotted;}
.files-request-list .middle-line {margin: 7px 0;width: 100%;border-bottom: 1px rgba(40,44,53,0.75);border-bottom-style: dashed;}

.files-request-list .c-footer {line-height: 33px;position: relative;display: flex;justify-content: space-between;}
.files-request-list .c-footer span {font-size: 18px !important;}
.files-request-list .c-footer .yesterday-playing {float: right;}
.files-request-list .c-footer sub {color: rgba(255,167,0, 0.88);}