<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>跳空高开基础策略</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css"/>
		<script src="../../static/js/vue@v2.6.js"></script>
	</head>
	
	<style>
		.scale-label {
			transform: scale(0.75);
			display: inline-block;
		}
		
		.analysis-wrap {display: flex;}
		.analysis-wrap main{width: 488px;}
		.analysis-wrap main .title {padding-left: 25px;font-size: 18px;text-decoration: underline;}
	</style>
	
	<body>
		<div id="mask-loading" style="position: fixed;top: 0;bottom: 0;left: 0;right: 0;background-color: white;overflow: hidden;z-index: 1000;"></div>
		
		<div id="app">
			<!-- 查询 -->
			<div class="diff">
				<h2 style="color: white;">查询：<span style="font-size: inherit !important;color: #FF4500;">{{ stock.name }} {{ stock.code }}</span></h2>
				
				<div class="box">
					<span>股票代码：</span>
					<input type="text" v-model="uad.code" placeholder="请输入股票代码" maxlength="6" @keyup="onKeyUps" @input="reset" />
					
					<span>&emsp;日&emsp;期：</span>
					<input type="date" v-model="uad.date" placeholder="请输入查询日期" @change="onDateChange"/>
					
					<button type="button" @click="getStockInfo" style="margin-left: 18px;">查询</button>
				</div><br/>
				
				<div class="box">
					<span>开&nbsp;盘&nbsp;价：</span>
					<input type="number" v-model="resForm.open_price" @input="computeDataChange" />
					
					<span>&emsp;最高价：</span>
					<input type="number" v-model="resForm.max_price" @input="computeDataChange" />
					
					<span>&emsp;最底价：</span>
					<input type="number" v-model="resForm.min_price" @input="computeDataChange" />
					
					<span>&emsp;收盘价：</span>
					<input type="number" v-model="resForm.close_price" @input="computeDataChange" />
				</div>
			</div>
			
			<!-- Output compute result -->
			<div class="data-diff average-box">
				<h2>Stratery Compute</h2>
				<div class="analysis-wrap">
					<main>
						<div class="title red-color">日内上下影线：</div>
						<ul>
							<li title="开盘价 - 最低价">开盘价绝对价差<span class="scale-label">-下影线</span>（OP-DIFF）：{{ opDiff() }} {{ opDiff() != '/' ? 'RMB' : '' }}</li>
							<li title="最高价 - 收盘价">收盘价绝对价差<span class="scale-label">-上影线</span>（CI-DIFF）：{{ ciDiff() }} {{ ciDiff() != '/' ? 'RMB' : '' }}</li><br/>
							
							<li title="“开盘价” 到 “最低价” 的下跌比率">开盘价绝对跌幅<span class="scale-label">-下影线</span>（OP-RATE）：{{ opRate() }}{{ opRate() != '/' ? '%' : '' }}</li>
							<li title="“收盘价” 到 “最高价” 的上升比率">收盘价绝对升幅<span class="scale-label">-上影线</span>（CI-RATE）：{{ ciRate() }}{{ ciRate() != '/' ? '%' : '' }}</li><br/>
							
							<li title="OP-RATE 比 CI-RATE">OP-RATE 与 CI-RATE 博弈比：{{ op_ci_rate() }}</li>
						</ul>
					</main>
					
					<main>
						<div class="title red-color">日内多空博弈：</div>
						<ul>
							<li title="收盘价 - 最低价">收盘支撑绝对价差<span class="scale-label">-支撑区</span>（BUY-DIFF）：{{ buyDiff() }} {{ buyDiff() != '/' ? 'RMB' : '' }}</li>
							<li title="最高价 - 收盘价">收盘抛压绝对价差<span class="scale-label">-上影线</span>（SELL-DIFF）：{{ ciDiff() }} {{ ciDiff() != '/' ? 'RMB' : '' }}</li><br/>
							
							<li title="“最低价” 到 “收盘价” 的上升比率">收盘价绝对支撑比<span class="scale-label">-下跌</span>（BUY-RATE）：{{ clBuyRate() }}{{ clBuyRate() != '/' ? '%' : '' }}</li>
							<li title="“最高价” 到 “收盘价” 的下跌比率">收盘价绝对抛压比<span class="scale-label">-上涨</span>（SELL-RATE）：{{ clSellRate() }}{{ clSellRate() != '/' ? '%' : '' }}</li><br/>
							
							<li title="BUY-RATE 比 SELL-RATE">
								<span style="margin-right: 16px;">多方博弈比：<span class="red-color">{{ clBuy_clSell_rate('buy') }}</span></span>
								<span>空方博弈比：<span class="green-color">{{ clBuy_clSell_rate('sell') }}</span></span>
							</li>
						</ul>
					</main>
				</div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="../../static/js/axios.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../../static/js/moment.js" charset="utf-8"></script>
	<script type="text/javascript" src="../../stockCommon.minxin.js" charset="utf-8"></script>
	
	<script type="text/javascript" src="./upAndDownLinePlaying.minxin.js" charset="utf-8"></script>
	<script type="text/javascript" src="./buyAndSellPlaying.minxin.js" charset="utf-8"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			mixins:[
				$commonMinxin,
				
				$upAndDownLinePlayingMinxin,
				$buyAndSellPlayingMinxin
			],
			data() {
				return {
					uad:{
						code:'600188', // 股票代码
						date:window.moment().format('YYYY-MM-DD'), // 日期
					},
					
					resForm: { // 请求结果数据
						date:'', 
						open_price: 0,
						max_price: 0,
						min_price: 0,
						close_price: 0,
					}, 
				}
			},
			computed:{
				
			},
			watch:{
			},
			mounted:function() {
			},
			methods:{
				/**
				 * 日期发生变化
				 */
				onDateChange() {
					this.reset();
					this.getStockInfo();
				},
				/**
				 * 按键监听
				 */
				onKeyUps:function(event) {
					if(event.keyCode == 13) {
						this.getStockInfo()
					}
				},
				/**
				 * 查询个股基本信息
				 */
				getStockInfo:function() {
					var _this = this;
					if(this.stock.isRequest === true) { return }
					
					this.fetchStockInfo(this.uad.code,function(data) {
						Object.assign(_this.stock,data)
						_this.getStockHistory(data.code);
						_this.stock.isRequest = true;
					})
				},
				/**
				 * 获取个股行情数据
				 */
				getStockHistory:function(code) {
					var _this = this;
					
					var beginTime = moment(this.uad.date).subtract(1, 'days').format('YYYY-MM-DD');
					var endTime = moment(this.uad.date).format('YYYY-MM-DD');
					this.fetchStockHistory(code, beginTime, endTime, function(list) {
						Object.assign(_this.resForm, list[0]);
					})
				},
				computeDataChange:function() {
					var _this = this;
					this.uad.code = '';
					Object.keys(this.stock).forEach(function(key) {
						_this.stock[key] = '';
					})
				}
			}
		})
	</script>
</html>
