<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>委托承接计算器</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<script src="../static/js/vue@v2.6.js"></script>
	</head>
	<style>
		#entrust p, p span {font-size: 18px !important;}
		#app {
			margin: 50px 0px 0px 35px;
		}
		
		.input-label {float: left;}
		._textarea {outline: none;border-radius: 6px;padding: 7px;width: 760px;height: 85px;}
		._textarea::-webkit-scrollbar {width: 7px;background-color: #F1F1F1;border-radius: 6px;}
		._textarea::-webkit-scrollbar-thumb {background-color: #C1C1C1;border: 1px solid #777;cursor: pointer;}
		
		.details ol li {padding: 8px 0;border-bottom: 1px #888 solid;}
		.details ol li span { display: inline-block;margin-right: 22px;font-size: 14px !important; }
		.float-size span { display: inline-block;margin-right: 3px !important;font-size: 14px !important; }
		
		.li-select { background-color: rgba(0,0,0,0.33);border-bottom: 1px #DDD dashed !important; }
		
		.insert-number {margin-right: 22px;text-decoration: underline;cursor: pointer;user-select: none;}
		.insert-number:active {opacity: 0.85;}
		
		.stock-ul {width: 100%;display: flex;flex-wrap: wrap;min-height: 50px;}
		.stock-ul .li {margin-right: 18px;margin-top: 18px;}
		.stock-ul .li span {width: 138px;display: inline-block;}
		.stock-ul .li input {width: 88px !important;}
		.no-loading { color: #999999;}
		.console {background: rgba(40,44,53,0.9);}
		.close-console {position: absolute;top: -12px;right: 25px;cursor: pointer;user-select: none;}
		
		#importFile {position: absolute;left: 0;top: 0;bottom: 0;width: 100% !important;opacity: 0;}
		
		.compute-box {
			display: inline-flex;
			flex-direction: column;
			align-items: center;
		}
		.compute-box__buy {
			margin-top: 3px;
			transform: scale(1.23);
			transform-origin: right;
			font-family: math;
			font-weight: 500;
		}
		.item-name {
			transform: scale(1.23);
			transform-origin: left;
		}
		
		.text-computed {width: 80px;height: 80px;line-height: 80px;text-align: center;position: absolute;left: 0;top: 0px;background-color: rgba(0, 0, 0, 0.4);font-family: math;transform: scale(0.5);transform-origin: left top;user-select: none;cursor: pointer;border-bottom-right-radius: 12px;box-shadow: 0px 0px 3px #000000;}
		.text-computed:active {opacity: 0.8;}
	</style>
	
	<body>
		<div id="mask-loading" style="position: fixed;top: 0;bottom: 0;left: 0;right: 0;background-color: white;overflow: hidden;z-index: 1000;"></div>
		
		<div id="app">
			<div class="text-computed" id="text-computed" @click="test__computed">Computed</div>
			
			<div class="console" v-if="show.name">
				<h3>Statised</h3>
				<p class="close-console red-color" @click="show = {}">关闭</p>
				
				<ul>
					<li>名称：{{ show.name }}</li>
					<li>日期：{{ show.date }}</li>
					<li>成交金额：{{ show.volPrice }}亿 </li>
					<li>委托价：{{ show.buyPrice }}元</li>
					<li>委托数量：{{ show.buyNumber }}万</li>
				</ul>
			</div>
			
			<!-- 查询 -->
			<div class="diff">
				<h2 style="color: white;">查 询：</h2>
				
				<div>
					<span>日&emsp;&emsp;&emsp;&emsp;期：</span>
					<input type="date" v-model="form.date" placeholder="请选择日期" />
					
					<form style="display: inline-block;padding: 7px;border: 1px #888 solid;margin-left: 16px;">
						<label>
							选择Excel导入：
							<input type="file" id="excel_file" ref="excel_file" accept=".xls" @change="handleFiles(event.target)" style="width: 230px;"/>
						</label>
						<span class="clear-text-button">重置</span>
					</form>
					<button style="margin-left: 18px;" @click="loadingCode">Loading</button>
				</div> <br/>
				
				<div style="display: inline-block;">
					<span class="input-label">股票代码队列：</span>
					<textarea class="_textarea" v-model="form.code" cols="11" rows="26" placeholder="600519-601398" @keyup="onKeyUps($event)"></textarea>
				</div>
				
				<fieldset>
					<legend>请输入流通市值</legend>
					<div class="stock-ul">
						<div class="li" v-for="item of codeList" :key="item.code">
							<span :class="noLoadingCompute(item) ? 'no-loading' : ''">{{ item.name }}（{{ item.code }}）</span>
							<input type="text" v-model="item.marketCount" /> 
						</div>
						
						<div class="li">
							<button @click="saveHistoryData">Save History Data</button>
						</div>
					</div>
				</fieldset>
			</div>
			
			<!-- Save History Datas -->
			<div class="diff details">
				<h2 style="width: 433px;">1. Save History Datas【Filter】：</h2>
				<span>筛选代码：</span>
				<input type="text" v-model="filter.code" id="filter-code" placeholder="请输入股票代码" maxlength="6" @input="loadDataChange" />
				
				<span :style="{ 'text-decoration': filter.code ? 'line-through' : 'none' }">&emsp;筛选日期：</span>
				<input type="date" v-model="filter.date" placeholder="请选择日期" @change="loadDataChange" />
				
				<div style="display: inline-block;">
					<span>&emsp;排序规则：</span>
					<label>
						<input type="radio" name="filter-type" value="default" v-model="filter.type" @change="loadDataChange">
						<span>时间</span>
					</label>
					
					<label>
						<input type="radio" name="filter-type" value="vol-price" v-model="filter.type" @change="loadDataChange">
						<span>总金额</span>
					</label>
					
					<label>
						<input type="radio" name="filter-type" value="vol-rate" v-model="filter.type" @change="loadDataChange">
						<span>量比</span>
					</label>
					
					<label>
						<input type="radio" name="filter-type" value="market-count" v-model="filter.type" @change="loadDataChange">
						<span>市值比</span>
					</label>

					<button type="button" style="margin-left: 18px;" @click="copys">去复制</button>
					
					<button type="button" style="margin-left: 18px;">
						<span>导入</span>
						<input @change="imports" id="importFile" name="importFile" type="file" accept=".txt" />
					</button>
					
					<button type="button" style="margin-left: 18px;" @click="exports">导出</button>
				</div><br/><br/>
				
				<div>
					<span :style="{ 'text-decoration': filter.code ? 'line-through' : 'none' }">筛选流通市值：</span>
					<input type="text" v-model="filter.marketCount" placeholder="流通市值" maxlength="4" @input="loadDataChange" style="width: 105px;" />
					
					<span :style="{ 'text-decoration': filter.code ? 'line-through' : 'none' }">&emsp;筛选量比：</span>
					<input type="text" v-model="filter.eBuyMoneyRate" placeholder="量比" maxlength="5" @input="loadDataChange" />
					
					<span :style="{ 'text-decoration': filter.code ? 'line-through' : 'none' }">&emsp;筛选市值比：</span>
					<input type="text" v-model="filter.eMarketCountRate" placeholder="市值比" maxlength="4" @input="loadDataChange" />
					
					<span :style="{ 'text-decoration': filter.code ? 'line-through' : 'none' }">&emsp;组合关系：</span>
					<label>
						<input type="radio" name="filter-join" value="group-and" v-model="filter.join" @change="loadDataChange">
						<span>And</span>
					</label>
					
					<label style="margin-left: 8px;">
						<input type="radio" name="filter-join" value="group-or" v-model="filter.join" @change="loadDataChange">
						<span>Or</span>
					</label>
				</div><br/>
				
				<div>
					<span :style="{ 'text-decoration': filter.code ? 'line-through' : 'none' }">Strategy(Group):</span>
					<input type="checkbox" style="width: 32px;margin: 0px" v-model="showStrategyGroup" @change="loadDataChange"  disabled />
					<input type="text" v-model="strategyGroupRange" placeholder="Range" @input="loadDataChange" :disabled="!showStrategyGroup" style="width: 50px;">
					
					<div style="display: inline-flex;">
						<label style="display: flex;align-items: center;">
							<span>&emsp;显示示计算(Float):</span>
							<input type="checkbox" style="width: 32px;margin: 0px" v-model="showFloat" />
						</label>
					</div>
					
					<div style="display: inline-flex" v-if="showFloat">
						<span>&emsp;买入金额：</span>
						<input type="number" v-model="form.buyMoney" placeholder="请输入买入金额" maxlength="5" />&nbsp;¥
					</div>
				</div>
				
				<ol style="margin-top: 25px;width: fit-content;padding-left: 25px;transform: scale(0.91);transform-origin: top left;" id="entrust-panel" @mousedown="onOlMouse">
					<li
						v-for="(item, index) of dataList"
						:key="`li-${index}`"
						class="history-li" 
						:id="`li-${index}`" 
						@click="onLiClick(index)"
					>
						<span style="width: 130px;">{{ item.name }}<span class="orange-color item-name">（{{ item.code }}）</span></span>
						<span>日期：{{ item.date }}</span>
						<span style="width: 205px;">承接/总金额：{{ formatMoney(item.eMoney) }}</span>
						<span style="width: 150px;">成交额(单边)：<span class="orange-color">{{ priceOneSideFormat(item.volPrice) }}</span></span>
						<span style="width: 90px;">量比：{{ item.eBuyMoneyRate }}%</span>
						<span style="width: 100px;">市值比：{{ item.eMarketCountRate }}%</span>
						<span style="width: 160px;">有效流通市值：{{ item.marketCount  }}亿</span>
						<span style="display: inline-flex;">行业：<span :title="item.concept" class="orange-color" style="width: 62px;overflow: hidden;text-overflow: ellipsis;">{{ item.concept || '/' }}</span></span>
						
						<a class="insert-number" style="color: rgb(100, 149, 237);" @click="showHistory(item, $event)">回显</a>
						<a class="insert-number" style="color: rgb(100, 149, 237);" @click="showCode(item, $event)">筛选代码</a>
						<a class="insert-number" style="color: rgb(255, 69, 0);" @click="remoteHistory(item, $event)">删除</a>
						
						<div v-if="showFloat" class="float-size" style="margin-top: 10px;">
							<span style="margin-right: 30px !important;">{{ item.buyPrice }}<span class="red-color">↑</span></span>
							
							<div class="compute-box" v-for="(rate, index) of floatPrice" :key="`a_${ index }`">
								<span>
									<span class="orange-color">{{ rate }}%</span>
									<span>-></span>
									<span style="margin-right: 30px !important;">{{ openPriceDefineRate(Number(item.buyPrice), Number(rate)) }}</span>
								</span>
								
								<span class="compute-box__buy" style="color: rgba(255, 69, 0, 0.63)">
									【
										{{ computeBuyNumber(openPriceDefineRate(Number(item.buyPrice), Number(rate))) }}
									】
								</span>
							</div>
						</div>
						
						<div v-if="showFloat" class="float-size" style="margin-top: 10px;">
							<span style="margin-right: 30px !important;">{{ item.buyPrice }}<span class="green-color">↓</span></span>
							
							<div class="compute-box" v-for="(rate, index) of floatPrice" :key="`a_${ index }`">
								<span>
									<span class="orange-color">-{{ rate }}%</span>
									<span>-></span>
									<span style="margin-right: 30px !important;">{{ openPriceDefineRate(Number(item.buyPrice), Number(-rate)) }}</span>
								</span>
								
								<span class="compute-box__buy" style="color: rgba(0, 255, 96, 0.63);">
									【
										{{ computeBuyNumber(openPriceDefineRate(Number(item.buyPrice), Number(-rate))) }}
									】
								</span>
							</div>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="../static/js/xlsx.full.min.js"></script>
	<script type="text/javascript" src="../static/js/FileSaver.min.js" charset="utf-8"></script>
	<script src="../static/js/accounting.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../static/js/axios.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../static/js/moment.js" charset="utf-8"></script>
	<script type="text/javascript" src="../stockCommon.minxin.js" charset="utf-8"></script>
	<script type="text/javascript" src="./computed.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			mixins:[$commonMinxin, $Computed],
			data() {
				return {
					fetchFinish: true,
					floatPrice: new Array(0.33, 2.33, 3.33, 4.66, 5.33, 6.7, 7.18, 7.67, 8.33).reverse(),
					showFloat: false,
					
					showStrategyGroup: false, // 是否开启策略
					strategyGroupRange: 5, // 指定策略集范围/前个数
						
					form: {
						date: window.moment().format('YYYY-MM-DD'), // 日期
						code: '', // 股票代码
						buyMoney: '5000', // 买入金额
					},
					
					filter: {
						date: window.moment().format('YYYY-MM-DD'),
						code: '',
						marketCount: '', // 流值 50%
						eMarketCountRate: '', // 市值比 10.33%
						eBuyMoneyRate: '', // 量比 100%
						type: 'market-count',
						join: 'group-or',
					},
					
					show: {},
					
					codeList: [],
					dataList: [],
					
					// File
					stockList:[],
				}
			},
			mounted:function() {
				var _this = this
				var entrust_data = this.getOriginStorage()
				if(entrust_data.length > 0) {
					this.loadDataChange()
				}
			},
			computed:{
				
			},
			methods:{
				// 计算买入数量
				computeBuyNumber(price) {
					var divisor = (this.form.buyMoney / price).toFixed(2) * 1
					var remDiff = divisor - (divisor % 100)
					
					var beforeMoney = remDiff * price
					var afterMoney = (remDiff + 100) * price
					
					var before_diff = Math.abs(this.form.buyMoney - beforeMoney)
					var after_diff = Math.abs(this.form.buyMoney - afterMoney)
					
					if(before_diff < after_diff) {
						return remDiff
					}else {
						return remDiff + 100
					}
				},
				/**
				 * 获取缓存数据
				 */
				getOriginStorage:function() {
					var entrust_data = window.localStorage.getItem('entrust_data')
					entrust_data = entrust_data ? JSON.parse(entrust_data) : []
					return entrust_data
				},
				/**
				 * 交易总金额计算
				 */
				e_money:function(form) {
					var value = form.buyPrice * form.buyNumber * 10000 * 100
					value = value == Infinity || isNaN(value) ? 0 : value
					return value.toFixed(2)
				},
				/**
				 * 承接/量比计算
				 */
				e_buyMoneyRate:function(form) {
					var value = this.e_money(form) / (form.volPrice * 10000 * 10000) * 100
					value = value == Infinity || isNaN(value) ? 0 : value
					return value.toFixed(2)
				},
				/**
				 * 承接/市值比计算
				 */
				e_marketCountRate:function(form) {
					var value = this.e_money(form) / (form.marketCount * 10000 * 10000) * 100
					value = value == Infinity || isNaN(value) ? 0 : value
					return value.toFixed(2)
				},
				// 加载代码队列
				loadingCode(){
					var _this = this;
					var codes = this.form.code.split('-')
					
					var isTrue = true
					for(var code of codes) {
						if(code.length != 6) {
							isTrue = false
							this.showToast(`代码异常：${ code }`)
							break
						}
					}
					if(!isTrue || !this.fetchFinish) return 
					
					// 轮询加载
					var p_index = 0
					var loadPoliing = function() {
						if(!codes[p_index]) {
							setTimeout(function() {
								_this.fetchFinish = true
							}, 500)
							return
						}
						
						_this.fetchStockTime(codes[p_index], function(list) {
							var data = list[0]
							var insertObject = new Object({
								code: data.code,
								name: data.name,
								volPrice: data.tradeAmount / (10000 * 10000), // 成交金额
								buyPrice: data.buy1_m, // 买一报价
								buyNumber: data.buy1_n / 100 / 10000, // 买入数量
								marketCount: '',	
							})
							
							var codeParam = _this.codeList.filter(function(item) { return item.code == data.code })[0]
							if(codeParam && codeParam.code) {
								var assginObject = new Object()
								Object.keys(codeParam).forEach(function(key) {
									if(codeParam[key]) {
										assginObject[key] = codeParam[key]
									}
								})
								
								Object.assign(insertObject, assginObject)
								
								for(var v of _this.codeList) {
									if(v.code == data.code) {
										Object.assign(v, insertObject)
										break
									}
								}
							}else {
								_this.codeList.push(insertObject)
							}
							
							p_index++
							setTimeout(function() {
								loadPoliing()
							}, 100)
						})
					}
					this.fetchFinish = false
					loadPoliing()
					
				},
				// 保存记录数据
				saveHistoryData() {
					var _this = this
					var entrust_data = this.getOriginStorage()
					var list = JSON.parse(JSON.stringify(this.codeList))
					if(list.length == 0) return this.showToast('代码队列未加载')
					
					for(var item of list) {
						for(var key of Object.keys(item)) {
							if(!item[key]) return this.showToast('信息补充不完整')
						}
					}
					
					list.forEach(function(item) {
						item['date'] = _this.form.date,
						item['eMoney'] = _this.e_money(item)
						item['eBuyMoneyRate'] = _this.e_buyMoneyRate(item)
						item['eMarketCountRate'] = _this.e_marketCountRate(item)
					})
					
					// 重复判断
					var repeats = []
					for(var v1 of list) {
						for(var v2 of entrust_data) {
							if(v1.code == v2.code && v1.date == v2.date) {
								repeats.push(`[${ v1.name } ${ v1.date }]`)
								break
							}
						}
					}
					
					if(repeats.length > 0) {
						return this.showToast(`数据已存在：${ repeats.join(' ') }`, 2000)
					}
					
					var newEntrustData = entrust_data.concat(list)
					window.localStorage.setItem('entrust_data', JSON.stringify(newEntrustData))
					
					this.showToast('添加成功')
					this.loadDataChange()
					console.log(newEntrustData, 'newEntrustData')
				},
				/**
				 * 加载数据变更
				 * @param {Object} symbol 指定筛选类型返回的数据
				 */
				loadDataChange:function() {
					var _this = this
					var entrust_data = this.getOriginStorage()
					var dataList = []
					
					// 筛选代码
					if(this.filter.code) {
						var f_list = entrust_data.filter(function(item) {
							if(item.code.indexOf(_this.filter.code) != -1 || item.name.indexOf(_this.filter.code) != -1) {
								return true
							}
						})
						entrust_data = f_list
					}
					
					// 时间筛选
					if(this.filter.date && !this.filter.code) {
						var f_list = entrust_data.filter(function(item) {
							if(item.date == _this.filter.date) {
								return true
							}
						})
						entrust_data = f_list
					}
					
					// 流通市值筛选
					var filter_marketCount = () => {
						if(this.filter.marketCount && !this.filter.code) {
							var f_list = entrust_data.filter(function(item) {
								if(Number(item.marketCount) >= Number(_this.filter.marketCount)) {
									return true
								}
							})
							
							if(this.filter.join == 'group-or') return f_list
							else entrust_data = f_list
						}
					}
					var __filter_marketCount = filter_marketCount()
					
					// 量比筛选
					var filter_eBuyMoneyRate = () => {
						if(this.filter.eBuyMoneyRate && !this.filter.code) {
							var f_list = entrust_data.filter(function(item) {
								if(Number(item.eBuyMoneyRate) >= Number(_this.filter.eBuyMoneyRate)) {
									return true
								}
							})
							
							if(this.filter.join == 'group-or') return f_list
							else entrust_data = f_list
						}
					}
					var __filter_eBuyMoneyRate = filter_eBuyMoneyRate()
					
					// 市值比筛选
					var filter_eMarketCountRate = () => {
						if(this.filter.eMarketCountRate && !this.filter.code) {
							var f_list = entrust_data.filter(function(item) {
								if(Number(item.eMarketCountRate) >= Number(_this.filter.eMarketCountRate)) {
									return true
								}
							})
							
							if(this.filter.join == 'group-or') return f_list
							else entrust_data = f_list
						}
					}
					var __filter_eMarketCountRate = filter_eMarketCountRate()
					
					
					// Group or...
					if(this.filter.join == 'group-or') {
						var filter_arror_or = new Array().concat(__filter_marketCount, __filter_eBuyMoneyRate, __filter_eMarketCountRate)
						
						var f_n_list = []
						filter_arror_or.filter(item => {
							return Object.prototype.toString.call(item) == '[object Object]'
						}).forEach(item => {
							var codes = f_n_list.map(v => v.code)
							if(!codes.includes(item.code)) {
								f_n_list.push(item)
							}
						})
						
						if(f_n_list.length > 0) {
							entrust_data = f_n_list
						}
					}
					
					// 日期排序
					var sort_de = JSON.parse(JSON.stringify(entrust_data)).sort(function(v1, v2) { return new Date(v1.date).getTime() - new Date(v2.date).getTime() })
					// 总金额排序
					var sort_vp = JSON.parse(JSON.stringify(entrust_data)).sort(function(v1, v2) { return Number(v2.eMoney) - Number(v1.eMoney) })
					// 量比排序
					var sort_vr = JSON.parse(JSON.stringify(entrust_data)).sort(function(v1, v2) { return Number(v2.eBuyMoneyRate) - Number(v1.eBuyMoneyRate) })
					// 市值比排序
					var sort_mc = JSON.parse(JSON.stringify(entrust_data)).sort(function(v1, v2) { return Number(v2.eMarketCountRate) - Number(v1.eMarketCountRate) })
					
					// 关闭组合策略
					if(!this.showStrategyGroup || this.filter.code) {
						switch (this.filter.type){
							case 'default':
								entrust_data = sort_de
								break;
							case 'vol-price':
								entrust_data = sort_vp
								break;
							case 'vol-rate':
								entrust_data = sort_vr
								break;
							case 'market-count':
								entrust_data = sort_mc
								break;
						}
					}
					
					// 开启组合策略
					if(this.showStrategyGroup && !this.filter.code) {
						var sort_vp_before = sort_vp.slice(0, this.strategyGroupRange || sort_vp.length)
						var sort_vr_before = sort_vr.slice(0, this.strategyGroupRange || sort_vr.length)
						var sort_mc_before = sort_mc.slice(0, this.strategyGroupRange || sort_mc.length)
						
						var svp_map = sort_vp_before.map(function(item) { return item.name })
						var svr_map = sort_vr_before.map(function(item) { return item.name })
						var smc_map = sort_mc_before.map(function(item) { return item.name })
						
						var sortGroup = new Array().concat(sort_vp_before, sort_vr_before, sort_mc_before)
						
						var strategyGoupData = new Array()
						for(var item of sortGroup) {
							var sgd_map = strategyGoupData.map(function(item) { return item.name })
							if(
								svp_map.indexOf(item.name) != -1 &&
								svr_map.indexOf(item.name) != -1 &&
								smc_map.indexOf(item.name) != -1 &&
								sgd_map.indexOf(item.name) == -1
							) {
								strategyGoupData.push(item)
							}
						}
						console.log(strategyGoupData, 'strategyGoupData>>')
						
						switch (this.filter.type){
							case 'default':
								entrust_data = JSON.parse(JSON.stringify(strategyGoupData)).sort(function(v1, v2) { return new Date(v1.date).getTime() - new Date(v2.date).getTime() })
								break;
							case 'vol-price':
								entrust_data = JSON.parse(JSON.stringify(strategyGoupData)).sort(function(v1, v2) { return Number(v2.eMoney) - Number(v1.eMoney) })
								break;
							case 'vol-rate':
								entrust_data = JSON.parse(JSON.stringify(strategyGoupData)).sort(function(v1, v2) { return Number(v2.eBuyMoneyRate) - Number(v1.eBuyMoneyRate) })
								break;
							case 'market-count':
								entrust_data = JSON.parse(JSON.stringify(strategyGoupData)).sort(function(v1, v2) { return Number(v2.eMarketCountRate) - Number(v1.eMarketCountRate) })
								break;
						}
					}
					
					this.dataList = entrust_data
					document.querySelectorAll('.history-li').forEach(function(el) {
						el.classList.remove('li-select')
					})
					console.log(this.filter.type)
				},
				/**
				 * 数据删除
				 */
				remoteHistory:function(item, e) {
					e.stopPropagation()
					var flag = window.confirm(`确定删除【${ item.name } ${ item.date }】该条记录`)
					if(flag) {
						var entrust_data = this.getOriginStorage()
						for(var i = 0;i < entrust_data.length;i++) {
							var v = entrust_data[i]
							if(item.code == v.code && item.date == v.date) {
								entrust_data.splice(i, 1)
								break
							}
						}
						
						window.localStorage.setItem('entrust_data', JSON.stringify(entrust_data))
						this.loadDataChange()
					}
				},
				/**
				 * 数据回显
				 */
				showHistory:function(item, e) {
					e.stopPropagation()
					this.show = item
				},
				/**
				 * 回显代码
				 */
				showCode:function(item, e) {
					e.stopPropagation()
					this.filter.code = item.code
					this.loadDataChange()
					
					this.$nextTick(function() {
						document.getElementById("filter-code").select()
					})
				},
				/**
				 * 获取文件大小
				 */
				getFileSize:function(size) {
					if (!size) return "";
					var num = 1024.00; // Byte
					
					if (size < num) return size + "B";
					if (size < Math.pow(num, 2)) return (size / num).toFixed(2) + "KB"; // KB
					if (size < Math.pow(num, 3)) return (size / Math.pow(num, 2)).toFixed(2) + "MB"; // M
					if (size < Math.pow(num, 4)) return (size / Math.pow(num, 3)).toFixed(2) + "G"; // G
					return (size / Math.pow(num, 4)).toFixed(2) + "T"; // T
				},
				/**
				 * 复制
				 */
				copys:function() {
					var list = this.dataList.map(function(item) {
						return item.code
					}).reverse()
					window.prompt('Copy', list.join(','))
				},
				/**
				 * 导入
				 */
				imports:function(e) {
					var _this = this
					var file = e.target.files[0]
					var name = file.name
					var size = this.getFileSize(file.size)
					var isTrue = window.confirm(`确认导入数据文件：${ name }, 文件大小：${ size }, 导入后本地数据将会覆盖!`)
					if(!isTrue) return
					
					var readerReport = new FileReader()
					readerReport.readAsText(file, "UTF-8")
					readerReport.onload = function () {
						var entrust_data = readerReport.result
						if(Object.prototype.toString.call(JSON.parse(entrust_data)) === '[object Array]') {
							window.localStorage.setItem('entrust_data', entrust_data)
							_this.loadDataChange()
						}else {
							_this.showToast('数据不正确')
						}
					}
				},
				/**
				 * 导出
				 */
				exports:function() {
					var day = moment().format('YYYYMMDD');
					var filename = `entrust_data`
					
					var isPromptText = window.prompt('请输入文件名称: ', filename)
					if(isPromptText) {
						var entrust_data = this.getOriginStorage()
						var blob = new Blob([JSON.stringify(entrust_data)], {type: "text/plain;charset=utf-8"})
						saveAs(blob, isPromptText + ".txt")
					}
				},
				/**
				 * 记录点击
				 */
				onLiClick:function(index) {
					console.log('Click')
					if(window.OL_TRIGGER_MOVE) return
					
					var id = 'li-' + index
					document.getElementById(id).classList.toggle('li-select')
				},
				// 记录列表容器  - 鼠标事件
				onOlMouse(event) {
					switch (event.type){
						case 'mousedown':
							// console.log('mousedown')
							document.getElementById('entrust-panel').addEventListener('mousemove', this.onOlMouse)
							document.getElementById('entrust-panel').addEventListener('mouseup', this.onOlMouse)
							window.OL_TRIGGER_MOVE = false
							break;
						case 'mousemove':
							// console.log('mousemove')
							window.OL_TRIGGER_MOVE = true
							break;
						case 'mouseup':
							// console.log('mouseup')
							document.getElementById('entrust-panel').removeEventListener('mousemove', this.onOlMouse)
							document.getElementById('entrust-panel').removeEventListener('mouseup', this.onOlMouse)
							break;
					}
				},
				/**
				 * 格式化金额
				 */
				formatMoney:function(money) {
					return window.accounting.formatMoney(money, { symbol: '¥' })
				},
				// 按键监听 - 股票代码队列
				onKeyUps(event) {
					if(event.keyCode == 39) {
						event.preventDefault()
						this.loadingCode()
					}
				},
				// 读取文件
				handleFiles:function(input) {
					var _this = this;
					var file = (input || document.getElementById("excel_file") ).files[0];
					
					let reader = new FileReader();
					reader.onload = function(e) {
						var workbook = XLSX.read(e.target.result, {type: 'binary'});
						
						var _sheetNames = workbook.SheetNames
						var _sheets = workbook.Sheets[_sheetNames]
						// console.log(_sheets)
						
						var x_size = _sheets['!ref'].split(":")[1].replace(/[A-Z]/ig, '')
						console.log(x_size, "x_size")
						
						var stocks = [
							{label: '自选股',key: 'name',symbol: ''},
							{label: '代码',key: 'code',symbol: ''},
							{label: '行业',key: 'concept',symbol: ''},
							{label: '总金额',key: 'volPrice',symbol: ''},
							{label: '买价一',key: 'buyPrice',symbol: ''},
							{label: '买量一',key: 'buyNumber',symbol: ''},
							{label: '有效流通市值',key: 'marketCount',symbol: ''}
						]
						
						for(var stock of stocks) {
							for(var key of Object.keys(_sheets)) {
								if(_sheets[key].v && _sheets[key].v.indexOf(stock.label) != -1) {
									stock.symbol = key.substr(0 ,1)
									break
								}
							}
						}
						
						var noSymbol = stocks.filter(function(item) {
							return !item.symbol
						})
						var symMsg = noSymbol.map(function(item) { return item.label })
						if(noSymbol.length > 0) return _this.showToast(`No Symbol Key：${ symMsg.join() }`, 2000)
						
						var stockList = []
						for(var index = 2;index <= x_size;index++) {
							var stockObject = new Object()
							for(var item of stocks) {
								stockObject[item.key] = _sheets[item.symbol + index].v
							}
							stockList.push(stockObject)
						}
						
						stockList.forEach(function(item) {
							// 处理成交总金额
							var y_vp_match = item.volPrice.match(/亿/g)
							var w_vp_match = item.volPrice.match(/万/g)
							if(y_vp_match) {
								item.volPrice = item.volPrice.replace(/亿/g, '')
							}else if(w_vp_match) {
								item.volPrice = item.volPrice.replace(/万/g, '') / 10000
							}
							
							// 处理买量一
							var w_b_match = item.buyNumber.match(/万/g)
							if(w_b_match) {
								item.buyNumber = item.buyNumber.replace(/万$/g, '')
							}else {
								item.buyNumber = item.buyNumber / 10000
							}
							
							// 处理有效流通市值
							var y_mc_match = item.marketCount.match(/亿/g)
							var w_mc_match = item.marketCount.match(/万/g)
							if(y_mc_match) {
								item.marketCount = item.marketCount.replace(/亿/g, '')
							}else if(w_mc_match) {
								item.marketCount = item.marketCount.replace(/万/g, '') / 10000
							}
						})
						// console.log(stockList, 'stockList')
						// return
						
						// 加载到代码队列
						var codeList = stockList.map(function(item) {
							return {
								code: item.code,
								name: item.name,
								concept: item.concept,
								volPrice: item.volPrice, // 成交金额
								buyPrice: item.buyPrice, // 买一报价
								buyNumber: item.buyNumber, // 买入数量
								marketCount: item.marketCount, // 有效流通市值
							}
						})
						
						var codes = codeList.map(function(item) { return item.code })
						_this.form.code = codes.join('-')
						_this.codeList = codeList
					};
					reader.readAsBinaryString(file);
				},
				noLoadingCompute(item) {
					var isClass = false
					for(var key of Object.keys(item)) {
						if(!item[key]) {
							isClass = true
							break
						}
					}
					return isClass
				},
				// 开盘价指定涨跌幅度计算
				openPriceDefineRate(price, rate) {
					var result = Number(price) + (price * rate / 100)
					return (result || 0).toFixed(2);
				},
			}
		})
	</script>
</html>
