<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>委托承接计算器</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<script src="../static/js/vue@v2.6.js"></script>
	</head>
	<style>
		#entrust p, p span {font-size: 18px !important;}
		
		.details ol li {padding: 8px 0;border-bottom: 1px #888 solid;}
		.details ol li span { display: inline-block;margin-right: 22px;font-size: 14px !important; }
		.li-select { background-color: #888888;border-bottom: 1px #DDD dashed !important; }
		
		.insert-number {margin-right: 22px;text-decoration: underline;cursor: pointer;user-select: none;}
		.insert-number:active {opacity: 0.85;}
	</style>
	
	<body>
		<div id="mask-loading" style="position: fixed;top: 0;bottom: 0;left: 0;right: 0;background-color: white;overflow: hidden;z-index: 1000;"></div>
		
		<div id="app">
			<!-- 查询 -->
			<div class="diff">
				<h2 style="color: white;width: 288px;">查询：<span style="font-size: inherit !important;color: #FF4500;">{{ form.name }} {{ form.code }}</span></h2>
				
				<span>股&nbsp;票&nbsp;&nbsp;代&nbsp;码：</span>
				<input type="text" id="stock-code" v-model="form.code" placeholder="请输入股票代码" maxlength="6" @keyup="onKeyUps" @input="init" />
				<button type="button" @click="getStockInfo" style="margin-left: 1px;">查询</button> <br/><br/><br/>
				
				<span>有效流通市值：</span>
				<input id="market-count" type="number" v-model="form.marketCount" placeholder="请输入流通市值" /> 亿
				
				<span>&emsp;成交金额：</span>
				<input type="number" v-model="form.volPrice" placeholder="请输入成交金额" /> 亿
				
				<span>&emsp;委托价：</span>
				<input type="number" v-model="form.buyPrice" placeholder="请输入委托价" /> 元
				
				<span>&emsp;委托数量：</span>
				<input type="number" v-model="form.buyNumber" placeholder="请输入委托数量" /> 万
			</div>
			
			<!-- 承接值 -->
			<div class="diff" id="entrust">
				<h2>1. 承接值：</h2>
				<p>承接/总金额：<span class="red-color">{{ formatMoney(e_money) }}</span></p>
				
				<p>承接/量比：<span class="red-color">{{ e_buyMoneyRate }}%</span></p>
				
				<p>承接/市值比：<span class="red-color">{{ e_marketCountRate }}%</span></p>
			</div>
		</div>
	</body>
	
	<script src="../static/js/accounting.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../static/js/axios.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../static/js/moment.js" charset="utf-8"></script>
	<script type="text/javascript" src="../stockCommon.minxin.js" charset="utf-8"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			mixins:[$commonMinxin],
			data() {
				return {
					form: {
						code: '', // 股票代码
						name: '', // 股票代码
						date: window.moment().format('YYYY-MM-DD'), // 日期
						
						volPrice: 0, // 成交金额
						buyPrice: 0, // 委托价
						buyNumber: 0, // 委托数量
						marketCount: 0, // 有效流通市值
					},
				}
			},
			computed:{
				/**
				 * 承接/总金额计算
				 */
				e_money:function() {
					var value = this.form.buyPrice * this.form.buyNumber * 10000 * 100
					value = value == Infinity || isNaN(value) ? 0 : value
					return value.toFixed(2)
				},
				/**
				 * 承接/量比计算
				 */
				e_buyMoneyRate:function() {
					var value = this.e_money / (this.form.volPrice * 10000 * 10000) * 100
					value = value == Infinity || isNaN(value) ? 0 : value
					return value.toFixed(2)
				},
				/**
				 * 承接/市值比计算
				 */
				e_marketCountRate:function() {
					var value = this.e_money / (this.form.marketCount * 10000 * 10000) * 100
					value = value == Infinity || isNaN(value) ? 0 : value
					return value.toFixed(2)
				}
			},
			methods:{
				/**
				 * 初始化
				 */
				init:function() {
					this.form.name = ''
					this.reset()
				},
				/**
				 * 按键监听 - 代码
				 */
				onKeyUps:function(event) {
					if(event.keyCode == 13) {
						this.getStockInfo()
					}
				},
				/**
				 * 查询个股基本信息
				 */
				getStockInfo:function() {
					var _this = this;
					if(this.stock.isRequest === true) { return }
					
					this.fetchStockInfo(this.form.code,function(data) {
						var code = data.code
						var name = data.name
						_this.getStockTime(code)
						_this.stock.isRequest = true;
					})
				},
				/**
				 * 获取个股行情数据
				 */
				getStockTime:function(code) {
					var _this = this;
					this.fetchStockTime(code, function(list) {
						var data = list[0]
						Object.assign(_this.form, {
							code: data.code,
							name: data.name,
							volPrice: data.tradeAmount / (10000 * 10000), // 成交金额
							buyPrice: data.buy1_m, // 买一报价
							buyNumber: data.buy1_n / 100 / 10000, // 买入数量
						})
						
						document.getElementById("market-count").select()
						document.getElementById("market-count").focus()
					})
				},
				/**
				 * 格式化金额
				 */
				formatMoney:function(money) {
					return window.accounting.formatMoney(money, { symbol: '¥' })
				},
			}
		})
	</script>
</html>
