<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>复利统计计算</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<script src="../static/js/vue@v2.6.js"></script>
	</head>
	<style type="text/css">
		#app { margin-left: 28px; }
		.details ol li {padding: 8px 0;border-bottom: 1px #888 solid;}
		.details ol li span { display: inline-block;margin-right: 22px;font-size: 14px !important; }
		.footer-count {text-align: left;display: inline-block;padding: 0px 12px;border-radius: 100px;background: white;color: rgb(255, 69, 0);margin-right: 30px;height: 27px;line-height: 27px;}
		.describe {transform: scale(0.85);transform-origin: left top;line-height: 25px;color: rgba(255,167,0);}
		
		.lines-box {position: relative;}
		.lines-box::before {content: '';border-right: 1px #888 solid;position: absolute;top: 4px;bottom: 0;right: -17px;}
		.result-compute {display: inline-flex;background: transparent;border: 1px #FFF solid;}
		.result-compute div {margin-right: 22px;}
	</style>
	
	<body>
		<div id="mask-loading" style="position: fixed;top: 0;bottom: 0;left: 0;right: 0;background-color: white;overflow: hidden;z-index: 1000;"></div>
		
		<div id="app">
			<!-- 全局数值设定 -->
			<div class="diff">
				<h2 style="color: white;">全局数值设定：</h2>
				<span>初始总仓位：</span>
				<input type="number" v-model="form.storeMoney" @input="compoundInterestCompute" placeholder="请输入初始金" /> REM
				
				<span>&emsp;单笔入仓比例：</span>
				<input type="number" v-model="form.buyProportion" @input="compoundInterestCompute" placeholder="请输入仓比例" style="width: 80px;" /> %
				
				<span>&emsp;初始入仓金额：{{ formatMoney(initMoney) }}</span>
				
				<span>&emsp;复利率：</span>
				<input type="number" v-model="form.compoundInterestRate" @input="compoundInterestCompute" style="width: 80px;" /> %
				
				<span>&emsp;复利天数：</span>
				<input type="number" v-model="form.compoundInterestRateDay" @input="compoundInterestCompute" style="width: 80px;" />
			</div>
			
			<!-- 包含手续费 -->
			<div class="diff">
				<h2 style="color: white;">包含手续费：</h2>
				<span>佣金：</span>
				<input type="number" v-model="form.commission" @input="compoundInterestCompute" style="width: 80px;" placeholder="请输入佣金" /> %
				
				<span>&emsp;印花税：{{ form.stampDuty }}%</span>
				
				<span>&emsp;过 户 费：/</span>
				
				<ol class="describe">
					<li>佣金：双边收取，按照成交金额进行结算，不足5元按照 “5元” 收取</li>
					<li>印花税：单边收取，固定为卖出成交金额的 “千分之一”</li>
					<li>过户费：双边收取，按照成交金额的 “千分之0.1” 收取，（2022年4月29日起，将股票交易过户费总体下调50%，即原来是万分之二），仅上海市场收取</li>
				</ol>
			</div>
			
			<!-- 周期止损策略 -->
			<div class="diff">
				<h2 style="color: white;">周期止损策略：</h2>
				<div>
					<span>负利率周期（天）：</span>
					<input type="number" v-model="form.minusCycleDay" @input="compoundInterestCompute" />
				</div> <br/>
				
				<div>
					<label>
						<span>1. 总仓止损</span>
						<input type="radio" name="loss-rule" value="countStore" v-model="form.lossRateType" @change="compoundInterestCompute">
					</label>
					
					<span>&emsp;总仓止损率：</span>
					<input type="number" v-model="form.lossRate" @input="compoundInterestCompute" style="width: 80px;" /> %
				</div> <br/>
				
				<div>
					<label>
						<span>2. 净值止损</span>
						<input type="radio" name="loss-rule" value="inStore" v-model="form.lossRateType" @change="compoundInterestCompute">
					</label>
					
					<span>&emsp;净值止损率：</span>
					<input type="number" v-model="form.lossRate" @input="compoundInterestCompute" style="width: 80px;" /> %
				</div>
			</div>
			
			<div class="diff details">
				<h2>Compute Result ：</h2>
				<!-- 总计额 -->
				<div class="footer-count">
					<font color="#333">总&emsp;计：</font>
					<font>{{ detailList.length > 0 ? formatMoney(detailList[detailList.length - 1].storeMoneyCount) : formatMoney(0)}}</font>
				</div>
				
				<!-- 总计收益率 -->
				<div class="footer-count">
					<font color="#333">收益率：</font>
					<font>{{ profitRate() }}%</font>
				</div>
				
				<!-- 总计手续费 -->
				<div class="result-compute footer-count">
					<div>
						<font color="#FFF">佣金总额：</font>
						<font>{{ formatMoney(commissionCount()) }}</font>
					</div>
					
					<div>
						<font color="#FFF">印花税总额：</font>
						<font>{{ formatMoney(stampDutyCount()) }}</font>
					</div>
					
					<div>
						<font color="#FFF">合计交易手续费：</font>
						<font>{{ formatMoney(commissionCount() + stampDutyCount()) }}</font>
					</div>
				</div>
				
				<ol>
					<li :class="{'green-color': item.compoundInterestRate <= 0 }" v-for="(item, index) of detailList" :key="index">
						<span @click="showFormula(item.f_buyAmount, $event)" class="orange-color">买入金额：{{ formatMoney(item.buyAmount) }}</span>
						<span>复利率：{{ item.compoundInterestRate }}%</span>
						<span @click="showFormula(item.f_moneyCount, $event)">当前结算：{{ formatMoney(item.moneyCount) }}</span>
						<span @click="showFormula(item.f_moneyDiff, $event)" :class="['lines-box', { 'red-color': item.moneyDiff > 0 }]">结算差额：{{ formatMoney(item.moneyDiff) }}</span>
						
						<span>佣金：{{ formatMoney(item.commission) }}（买：{{ formatMoney(item._buyCommission) }}，卖：{{ formatMoney(item._sellCommission) }}）</span>
						<span>印花税：{{ formatMoney(item.stampDuty) }}</span>
						<span @click="showFormula(item.f_netMoneyCount, $event)" class="orange-color">净值结算：{{ formatMoney(item.netMoneyCount) }}</span>
						<span @click="showFormula(item.f_storeMoneyCount, $event)" class="orange-color">总仓结算：{{ formatMoney(item.storeMoneyCount) }}</span>
					</li>
				</ol>
			</div>
		</div>
	</body>
	
	<script src="../static/js/accounting.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../static/js/moment.js" charset="utf-8"></script>
	<script type="text/javascript" src="../static/js/axios.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../stockCommon.minxin.js" charset="utf-8"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			mixins:[$commonMinxin],
			data() {
				return {
					detailList:[],
					
					form: {
						lossRateType: 'countStore',
						lossRate: 2,
						
						storeMoney: 50000,
						buyProportion: 50, // 买入比例
						compoundInterestRate: 5.33, // 复利率
						compoundInterestRateDay: 50, // 复利天数
						
						commission: 0.02, // 佣金
						stampDuty: 0.1, // 印花税
						transferFee: 0.01, // 过户费
						
						minusCycleDay: 5, // 指定周期（天）负利率
					}
				}
			},
			computed: {
				// 入仓金额
				initMoney: function() {
					var value = this.form.storeMoney * this.form.buyProportion / 100;
					return value;
				}
			},
			created() {
				this.compoundInterestCompute();
			},
			methods:{
				/**
				 * 收益率
				 */
				profitRate:function() {
					if(this.detailList.length > 0) {
						var _storeMoneyCount = this.detailList[this.detailList.length - 1].storeMoneyCount;
						var _rate = (_storeMoneyCount - this.form.storeMoney) / this.form.storeMoney * 100;
						return _rate.toFixed(2);
					}else {
						return 0;
					}
				},
				/**
				 * 印花税总额
				 */
				stampDutyCount:function() {
					var _count = 0;
					for(var list of this.detailList) {
						_count += Number(list.stampDuty)
					}
					return _count;
				},
				/**
				 * 佣金总额
				 */
				commissionCount:function() {
					var _count = 0;
					for(var list of this.detailList) {
						_count += Number(list.commission)
					}
					return _count;
				},
				/**
				 * 格式化金额
				 */
				formatMoney:function(money) {
					return window.accounting.formatMoney(money, { symbol: '¥' })
				},
				compoundInterestCompute:function() {
					var _this = this;
					var form = this.form;
					var pollingCount = 0;
					var list = [];
					
					// 获取指定负利率
					var getLossRate = (buyAmount, storeAmount) => {
						var rate = null
						switch (form.lossRateType){
							case 'countStore':
								var loss_value = storeAmount * form.lossRate / 100;
								var loss_size = buyAmount - loss_value;
								var loss_rate = (loss_size - buyAmount) / buyAmount * 100
								rate = Number(loss_rate.toFixed(2));
								break;
							case 'inStore':
								rate = -Number(form.lossRate)
								break;
						}
						return rate;
					}
					
					// 入仓比例转换金额
					var proportionToMoney = (countMoney) => {
						let value = (countMoney * form.buyProportion / 100).toFixed(2);
						let formula = `(${countMoney} * ${form.buyProportion} / 100).toFixed(2)`;
						return {
							value: Number(value),
							formula: formula,
						}
					}
					
					var compounds = (storeAmount) => {
						pollingCount++;
						var ptm = proportionToMoney(storeAmount);
						var buyAmount = ptm.value;
						var f_buyAmount = ptm.formula;
						console.log(pollingCount, buyAmount, storeAmount, 'compounds: params')
						
						if(pollingCount <= form['compoundInterestRateDay'] && buyAmount > 0) {
							var moneyCount, f_moneyCount;
							
							// 自定义条件计算 - 指定周期负利率
							if(pollingCount % form['minusCycleDay'] === 0) {
								var $lossRate = getLossRate(buyAmount, storeAmount);
								moneyCount = buyAmount + (buyAmount * $lossRate / 100);
								f_moneyCount = `${buyAmount} + (${buyAmount} * ${$lossRate} / 100)`
							}else {
								moneyCount = buyAmount + (buyAmount * form['compoundInterestRate'] / 100);
								f_moneyCount = `${buyAmount} + (${buyAmount} * ${form['compoundInterestRate']} / 100)`
							}
							
							// 结算差额
							var _moneyDiff = moneyCount - buyAmount
							var f_moneyDiff = `${moneyCount} - ${buyAmount}`
							
							// 买入佣金
							var _buyCommission = buyAmount * form['commission'] / 100;
							_buyCommission = _buyCommission > 5 ? _buyCommission : 5;
							_buyCommission = Number(_buyCommission.toFixed(2));
							
							// 卖出佣金
							var _sellCommission = moneyCount * form['commission'] / 100;
							_sellCommission = _sellCommission > 5 ? _sellCommission : 5;
							_sellCommission = Number(_sellCommission.toFixed(2));
							
							// 总佣金
							var _commission = _buyCommission + _sellCommission;
							_commission = Number(_commission.toFixed(2));
							
							// 印花税
							var _stampDuty = moneyCount * form['stampDuty'] / 100;
							_stampDuty = Number(_stampDuty.toFixed(2));
							
							// 净值结算
							var _netMoneyCount =  moneyCount - (_buyCommission + _sellCommission + _stampDuty);
							_netMoneyCount = _netMoneyCount <= 0 ? 0 : _netMoneyCount;
							_netMoneyCount = Number(_netMoneyCount.toFixed(2));
							var f_netMoneyCount = `${moneyCount} - (${_buyCommission} + ${_sellCommission} + ${_stampDuty})`
							
							// 复利率
							var _compoundInterestRate = pollingCount % form['minusCycleDay'] === 0 ? $lossRate : form['compoundInterestRate'];
							
							// 总仓结算金额
							var _storeMoneyCount = storeAmount + _netMoneyCount - buyAmount;
							var f_storeMoneyCount = `${storeAmount} + ${_netMoneyCount} - ${buyAmount}`
							
							var data = {
								// 买入金额
								buyAmount: buyAmount,
								f_buyAmount: f_buyAmount,
								// 复利率
								compoundInterestRate: _compoundInterestRate,
								// 当前结算
								moneyCount: Number(moneyCount.toFixed(2)),
								f_moneyCount: f_moneyCount,
								// 结算差额
								moneyDiff: Number(_moneyDiff.toFixed(2)),
								f_moneyDiff: f_moneyDiff,
								
								// 总佣金
								commission: _commission,
								// 买入佣金
								_buyCommission: _buyCommission,
								// 卖出佣金
								_sellCommission: _sellCommission,
								// 印花税
								stampDuty: _stampDuty,
								// 净值结算金额
								netMoneyCount: _netMoneyCount,
								f_netMoneyCount: f_netMoneyCount,
								// 总仓结算金额
								storeMoneyCount: Number(_storeMoneyCount.toFixed(2)),
								f_storeMoneyCount: f_storeMoneyCount,
							}
							
							list.push(data);
							compounds(data.storeMoneyCount);
						}else {
							_this.detailList = JSON.parse(JSON.stringify(list));
							// console.log(JSON.stringify(_this.detailList))
						}
					}

					compounds(Number(form.storeMoney));
				},
				showFormula(content, event) {
					this.showTooltip(content, event)
				}
			}
		})
	</script>
</html>
